[2020-02-14 09:11] tobiasschaefer opened #1 "Scan models in Subdirectories"
Currently, models are only found in the root resource directory. In future, the search should be recursive.

Currently, we're using PathMatchingResourcePatternResolver from Spring (probably comes via Camunda Dependency). We should switch that to io.micronaut.core.io.ResourceLoader

See also https://stackoverflow.com/questions/53370135/is-there-an-equivalent-for-springs-resource-in-micronaut

[2020-02-14 09:13] tobiasschaefer opened #2 "Set Deployment name to MicronautAutoDeployment"
When deploying models we currently don't provide a name. What is currently being used? This should probably be set to "MicronautAutoDeployment"

Please also create a test.

[2020-02-14 09:14] tobiasschaefer opened #3 "Make data source configurable"
Currently `jdbc:h2:mem:my-own-db;DB_CLOSE_DELAY=1000` is hard coded which is a good default.

Make this configurable so that a database like PostgreSQL can be used but keep the default.

Maybe this is as easy as the following in application.yml:
[code]

see also https://micronaut-projects.github.io/micronaut-sql/latest/guide/configurationreference.html

[2020-02-14 09:15] tobiasschaefer opened #4 "Switch example application to Kotlin"
Just to show that this must not be Java :-) We'll keep the feature to be implemented in Java, see also our FAQ: https://github.com/NovatecConsulting/micronaut-camunda-bpm/blob/master/FAQ.md

[2020-02-14 09:17] tobiasschaefer opened #5 "Fix Gradle Warning about deprecated Gradle features"
`./gradlew clean check` currently says
[code]

What is this warning about? Please fix it.

Maybe we should change the Gradle Configuration to fail if there is a warning (Zero warning policy). Please check this.

[2020-02-14 09:21] tobiasschaefer opened #6 "Upload feature to Maven Central"
We should upload our feature to Maven Central with Travis-CI release builds so that it is very easy to use it as an application developer.

Before we do that we should choose the groupid and name carefully.

[2020-02-14 09:23] tobiasschaefer opened #7 "Provide Camunda REST API on Jetty"
It must be possible to activate the REST API of Camunda.

Todo: find out how to do this. It might be difficult because this is a servlet, see also https://github.com/micronaut-projects/micronaut-core/issues/1004 for similar issue regarding the h2-console.

- [x] configurable (camunda.bpm.webapp.enabled), default on if no impact to startup time - probably for REST and the three Webapps
- [x] defaul

[2020-02-14 09:29] tobiasschaefer opened #8 "Provide Camunda Tasklist, Cockpit and Admin applications on Jetty"
It must be possible to activate the Tasklist, Cockpit and Admin applications.

Todo: find out how to do this. It might be difficult because this is a servlet, see also micronaut-projects/micronaut-core#1004 for similar issue regarding the h2-console.

- [x] configurable (camunda.bpm.webapp.enabled), default on if no impact to startup time - probably for REST and the three Webapps
- [x] support cam

[2020-02-14 09:30] tobiasschaefer opened #9 "Test example Application with GraalVM"
We should verify that an example application also works with GraalVM. At best, this is also build by the CI (but may in parallel due to long build duration).

[2020-02-14 09:31] tobiasschaefer opened #10 "Provide example Application in Docker"
After #9 we should now provide a docker image to check for performance behaviour.

[2020-02-14 10:10] tobiasschaefer opened #11 "Make Camunda Version configurable"
Currently, 7.12 is hard coded. Please make this configurable. We might need a compatibility matrix.

[2020-02-14 10:39] #2 closed

[2020-02-14 10:39] jenshb commented on #2
Done

[2020-02-17 21:05] tobiasschaefer opened #14 "Optimize Start-Up Time"
Without Camunda: 1s
With Camunda currently: 5s:

`@Parallel` does not seem to help. It might work with `@Async` but we must make sure that the application is terminated if the process engine cannot be initialized and/or the models cannot be deployed.

[2020-02-23 20:04] tobiasschaefer opened #15 "Remove "mainClassName" from micronaut-camunda-feature/build.gradle"
The project "micronaut-camunda-feature" should not require the setting "mainClassName" in micronaut-camunda-feature/build.gradle.

Remove that line and everything else that is not needed.

[2020-02-28 07:30] #3 closed

[2020-02-28 09:20] tobiasschaefer opened #19 "Performance-Analysis of Camunda Process Engine"
Starting the Camunda process engine takes a few seconds. Let's analyze what is taking so long using e.g. inspectIT.

[2020-03-02 10:39] Hayvon opened #21 "Problem when running the native image"
Running native image throws Exception:
org.apache.ibatis.logging.LogException: Error creating logger for logger org.apache.ibatis.datasource.pooled.PooledDataSource.  Cause: java.lang.NullPointerException

Probalble Issue: LogFactory:82
![issue](https://user-images.githubusercontent.com/50579124/75668840-3731d680-5c7a-11ea-9fbb-64e7ab7b0a3e.PNG)

[2020-03-02 12:25] Hayvon commented on #21
Fixed by adding every implementation of "logConstructor" into the reflectionconfig.json

[2020-03-02 12:25] #21 closed

[2020-03-03 14:54] Hayvon opened #22 "Difficulties creating a native image with a configurable data source"
Configurable data source causes problems with native image.

Message: At least one @Introduction method interceptor required, but missing. Check if your @Introduction stereotype annotation is marked with @Retention(RUNTIME) and @Type(..) with the interceptor type. Otherwise do not load @Introduction beans if their intercepto
r definitions are missing!
Path Taken: MicronautProcessEngineConfiguratio

[2020-03-03 19:07] tobiasschaefer commented on #7
This will probably help: https://github.com/micronaut-projects/micronaut-servlet

[2020-03-03 19:08] tobiasschaefer commented on #8
This will probably help: https://github.com/micronaut-projects/micronaut-servlet

[2020-03-03 20:24] tobiasschaefer commented on #14
Currently blocked by https://github.com/micronaut-projects/micronaut-core/issues/2867

[2020-03-13 09:08] tobiasschaefer commented on #1
This has been implemented on master. Unfortunately, we need the CLI dependency but at least it works for now.

[2020-03-13 10:49] tobiasschaefer opened #31 "Zero Warning Policy for JavaDoc Task"
Currently, if there are JavaDoc warnings, e.g. missing `@throws` there will be a warning in the Github Actions build.

Let's make the build fail instead, i.e. establish a zero warning policy.

[2020-03-20 08:35] tobiasschaefer commented on #5
@Hayvon

Bei `./gradlew build --warning-mode=fail` kommt es zum Fehler

[code]

Kannst du dafür bitte auch einen PR auf diesem Ticket erstellen

[2020-03-23 06:51] Hayvon commented on #5
@tobiasschaefer

Das scheint ein bereits bekanntes Problem vom Gradle Shadow Plugin zu sein.
Siehe: https://github.com/johnrengelman/shadow/issues/530.
Momentan scheint es aktuell noch kein Fix für das Warning zu geben.

[2020-03-23 21:04] #6 closed

[2020-03-27 20:00] #5 closed

[2020-03-31 17:36] tobiasschaefer commented on #31
Already fixed on master with `./gradlew build --warning-mode=fail`

[2020-03-31 17:36] #31 closed

[2020-04-05 05:13] tobiasschaefer commented on #1
Reopening because changes needed to be reverted on master because this did not work if started with "java -jar", see commit https://github.com/NovatecConsulting/micronaut-camunda-bpm/commit/b5e5eac447b9d39bcaa3f7b7723270af94d7ebf3

[2020-04-17 05:13] tobiasschaefer opened #43 "Make Camunda Loglevel Configurable"
The loglevel of Camunda should be configurable via properties. These should be documented in the README.md

[2020-04-24 13:35] tobiasschaefer opened #45 "Implement transactional behaviour"

[2020-04-24 13:37] tobiasschaefer opened #46 "Get MyBatis Warning fixed"
When starting the application you will see:

[code]

This warning is shown when using JDK 9 and later. It will need to be fixed by MyBatis.

Let's file a bug at MyBatis.

Once it is fixed we can remove the entry in our FAQ.

[2020-04-24 13:44] tobiasschaefer opened #47 "Analyze Camunda Run Optimizations"
Camunda Run uses Spring Boot internally and starts up real quick (5 second?). We need 5 seconds just to start the engine. What can we learn from that?

[2020-04-26 00:42] mustaphazorgati commented on #46
Hey @tobiasschaefer!
Mybatis hat this issue already fixed. see https://github.com/mybatis/mybatis-3/issues/1156
Unfortunately camunda 7.12.0 uses an old version of mybatis (3.4.4.) see: https://repo1.maven.org/maven2/org/camunda/bpm/camunda-bom/7.12.0/camunda-bom-7.12.0.pom

I think we have two possible solutions:
- upgrade mybatis manually and hope nothing breaks
- wait for 7.13. camunda has upgr

[2020-04-27 04:34] tobiasschaefer commented on #46
@mustaphazorgati : thanks for the analysis

Let's wait for Camunda 7.13 which will be released end of May.

Do you want to update the https://github.com/NovatecConsulting/micronaut-camunda-bpm/blob/master/FAQ.md and create a trivial pull request?

[2020-04-27 06:36] mustaphazorgati commented on #46
Will do!

[2020-05-04 04:41] tobiasschaefer commented on #46
The FAQ hat been updated - we're now waiting for the Camunda 7.13 release to fix the warning.

[2020-05-04 11:13] tobiasschaefer commented on #46
Reopening - this issue is not yet fixed for us.

We need to wait for Camunda 7.13 and then update our dependencies to use it. So let's keep this issue open to track that.

[2020-05-04 11:14] mustaphazorgati commented on #46
sorry. Thought you missed it 🤦‍♂️

[2020-05-04 20:03] #43 closed

[2020-05-08 05:40] tobiasschaefer commented on #19
I analyzed this with inspectIT: https://github.com/inspectIT/inspectIT/releases

Starting the process engine takes about 5,5 seconds on my laptop. Of that time MyBatis already needs 3,5 seconds to parse the XML mappings. Camunda needs 53 mappings - some of them need several hundred milliseconds to parse and this then sums up to multiple seconds.

Camunda 7.13.0-alpha4 still has the same issue.

He

[2020-05-08 07:43] tobiasschaefer opened #50 "Performance Comparison "Camunda Spring Boot", micronaut-camunda-bpm, "Camunda Run", ..."
* Define scenarios, e.g. time until Process Instance can be queried
* Execute tests
* ...

[2020-05-15 12:21] tobiasschaefer commented on #19
I pushed a commit to the branch https://github.com/tobiasschaefer/micronaut-camunda-bpm/tree/issue19-startup-time

Note: "lazyLoadingEnabled=false" has been like that for seven years: https://github.com/camunda/camunda-bpm-platform/blame/master/engine/src/main/resources/org/camunda/bpm/engine/impl/mapping/mappings.xml

[2020-06-18 19:58] tobiasschaefer commented on #46
Fixed by updating to Camunda 7.13.0

[2020-06-18 19:58] #46 closed

[2020-07-12 16:44] Hakuz opened #66 "The example with the REST execution would be helpful"
The example with the REST execution would be helpful

[2020-07-13 04:42] tobiasschaefer commented on #66
Hi @Hakuz ,

thanks for using our integration project :-)

Which example are you looking for? Do you mean the one referenced at the end of https://github.com/NovatecConsulting/micronaut-camunda-bpm/blob/master/CONTRIBUTING.md ?

As mentioned in https://github.com/NovatecConsulting/micronaut-camunda-bpm/blob/master/README.md you can find the example application at https://github.com/NovatecConsulti

[2020-07-17 04:19] tobiasschaefer commented on #66
Hi @Hakuz

I'm now closing this issue since I haven't got any response.

If you need any support feel free to contact us again.

Cheers
Tobias

[2020-07-17 04:19] #66 closed

[2020-07-17 10:34] tobiasschaefer opened #71 "Service Tasks with Implementation "Expression" does not support Field Injection"
If as service task with implementation "Expression" contains a field injection the field is not set. Implementation "Java Class" works just fine.

In this case the bean is created by Micronaut but the field is not set because that information is provided by the process model.

Todo: check how the Camunda Spring Boot Starter does this.

Example to reproduce this: https://github.com/tobiasschaefer/b

[2020-07-20 17:55] tobiasschaefer commented on #71
I would close this issue because the combination of implementation "Expression" and "Field Injection" does not make that much sense. It works correctly if implementation "Expression Delegate" or "Java Class" are chosen.

In the case of "Expression" there could even be multiple beans in the expression and it is not clear which beans should have which values injected.

The Camunda Spring Boot Starte

[2020-07-21 15:21] tobiasschaefer commented on #10
The example application is working with commit aceb2f4790cfa5185f339552cae72041ae776488

[2020-07-21 15:21] #10 closed

[2020-07-22 10:15] l0co commented on #45
@tobiasschaefer I had some time today to play around transactional management and the result is [here](https://github.com/l0co/micronaut-camunda-bpm/tree/tx). Simple tests show that it's easy to integrate with both Micronaut transaction managers: one for plain JDBC access, second one for Hibernate/JPA. You can review tests with different gradle deps in `transactional-test` and `transactional-test-

[2020-07-22 20:03] tobiasschaefer opened #74 "Configure / Replace JobExecutor"
Currently, it is not possible to configure the job executor in any way - neither via properties nor code. For example `waitTimeInMillis`cannot be modified.

We need a default implementation of the interface `JobExecutor` (possibly inheriting from `DefaultJobExecutor`) which can be `@Replaced` if needed.
The default should read some simple properties and configure the JobExecutor - similar to the S

[2020-07-23 07:06] itsmestefanjay commented on #71
Sollte das dann vielleicht in die DOKU als known "issues"?

[2020-07-23 08:07] itsmestefanjay commented on #15
fixed with the java-library plugin

[2020-07-23 08:07] #15 closed

[2020-07-23 08:15] itsmestefanjay commented on #71
We talked about it and this combination indeed doesn't make much sense

[2020-07-23 08:15] #71 closed

[2020-07-27 15:35] tobiasschaefer commented on #7
see also https://github.com/l0co/camunda-micronaut-example/tree/tasklist from @l0co

[2020-07-30 07:39] tobiasschaefer commented on #1
Note: it must be possible to solve this with ahead of time (AOT) compilation, i.e. we resolve the process models at compilation time, not runtime.

[2020-07-31 10:41] tobiasschaefer commented on #45
Example from @itsmestefanjay showing that we don't have a surrounding transaction currently: https://github.com/itsmestefanjay/micronaut-camunda-bpm/tree/data-jdbc-example

[2020-07-31 14:30] jenshb opened #78 "Database connection blocked when connection pool limit exceded in load test scenario"
In a load test scenario, where process instances are started via rest, the process engine blocks completely when the maximum connection pool size is reached and another connection is requested. In this case, no further process processing is performed until connection time out is reached.

Example load test scenario can be found here:
https://github.com/Hayvon/micronaut_lasttest

Load test is perfo

[2020-09-03 11:28] l0co commented on #45
One more remark about binding Micronaut transaction manager with Camunda in my example. It doesn't contain any solutions for async/scheduled tasks, so it still needs to be added to the implementation.

[2020-09-05 06:36] tobiasschaefer commented on #45
@l0co , thanks for your work on the transactions. I like the way you have two implementations for embedded and standalone and enabling them based on bean existence.

However, I'm unsure if needing to add `@TransactionalAdvice` is the correct way to go (you don't need something like this in Camunda Spring boot starter projects). I'm also unsure if rolling back, suspending and resuming transactions

[2020-09-07 10:01] l0co commented on #45
@tobiasschaefer

In my opinion providing separate configuration class which configures transaction management using Micronaut transaction manager vs using `StandaloneProcessEngineConfiguration` and customizing it using its method is just a matter of flavor. The final effect is the same.

Current solution is just a partial showing the way how to integrate both technologies on transactional level. I

[2020-09-07 10:08] l0co commented on #45
BTW. I was also thinking about wrapping Micronaut transaction manager into `javax.transaction.TransactionManager` but looking on Micronaut classes it looks it's still a wanting feature... Almost nothing exposed to an interface, both implementations very similar but sharing no common interface or base class. It looks it would be difficult to go this way.

[2020-09-18 14:10] tobiasschaefer commented on #45
@l0co : thanks for your comments

Until now it was valid to create a StandaloneProcessEngineConfiguration and customize it. However, the configuration is now going to be a managed bean (conditionally created in one of two flavors) and its not good practise to modify beans after creation.

I've implemented the interceptor and its working in both cases without @TransactionalAdvice :-)

The intercept

[2020-09-21 08:56] l0co commented on #45
@tobiasschaefer The implementation looks fine, I've reviewed it.

About the question, you have default `org.camunda.bpm.engine.impl.cfg.standalone.StandaloneTransactionContext` implementation which reveals what is it about and yes - it's about transactional events.

I'd try to do `MnTransactionContext extends StandaloneTransactionContext`, because it already has a required implementation, just ove

[2020-09-21 18:51] tobiasschaefer opened #83 "Provide Metrics"
Let's provide some metrics for Micronaut Micrometer:
* Number of process models (unversioned?)
* Number of running process instances
* Number of completed process instances
* ...(have a look at the Cockpit to get inspiration)...

See also https://docs.micronaut.io/latest/guide/index.html#healthEndpoint with link to https://micronaut-projects.github.io/micronaut-micrometer/latest/guide/

[2020-09-22 17:18] tobiasschaefer commented on #1
Tobias wrote in Gitter:

Hint from Graeme Rocher

see also
https://www.slideshare.net/graemerocher/micronaut-deep-dive-devoxx-belgium-2019 (Page 36)

[2020-09-25 06:02] tobiasschaefer opened #85 "Ahead-of-time compilation for process models"
Currently, process models are parsed at runtime during startup.

Idea: use the ahead-of-time compilation concept of Micronaut to parse the process models during build time and create a Java-Code representation, see `org.camunda.bpm.model.bpmn.Bpmn` with methods like `createProcess`.

This will reduce the startup time.

Todo: first check if this optimisation is really worth the effort.

[2020-09-25 06:06] tobiasschaefer opened #86 "Ahead-of-time compilation for MyBatis Mapping"
Currently, during startup of an application most time is lost when building the process engine. Specifically, it's during the MyBatis Initialization when parsing the mappings.

Idea: use the ahead-of-time compilation concept of Micronaut to parse the MyBatis Mappings during build time and create a Java-Code representation.

This will reduce the startup time tremendously.

[2020-09-30 17:58] tobiasschaefer opened #88 "Implement and register ArtifactFactory for resolving beans by class name"
We need a custom `org.camunda.bpm.engine.ArtifactFactory` so that JavaDelegates referenced by class name will be resolved from the application context, see also `org.camunda.bpm.engine.spring.SpringArtifactFactory`

Also implement a test :-)

[2020-09-30 19:26] tobiasschaefer commented on #45
Hi @l0co ,

unfortunately extending `StandaloneTransactionContext` is not sufficient, because it completely ignores the Micronaut Transaction Manager. I now managed to implement it correctly :-)

Please have a look at the pull request at https://github.com/NovatecConsulting/micronaut-camunda-bpm/pull/89

I gave you permission to comment the pull request. You should have received an invitation.

[2020-10-01 07:11] l0co commented on #45
@tobiasschaefer ok

[2020-10-03 12:47] tobiasschaefer opened #91 "Shutdown of application results in exception for in-memory H2 database"
Since commit https://github.com/NovatecConsulting/micronaut-camunda-bpm/commit/fcc354ccd11afebb3f849c3ffce7e3c993afabd3 the shut down of the application will result in an exception.

This does not happen when stopping the application in IntelliJ but only on the console when starting with "java -jar ..." and cancelling with "Ctrl-C" - probably because IntelliJ is killing the process immediately whi

[2020-10-03 19:37] tobiasschaefer commented on #91
I fixed it with https://github.com/NovatecConsulting/micronaut-camunda-bpm/pull/92

I noticed that this only happens on an in-memory h2 database - not on Postgres.

I fixed it after reading http://www.h2database.com/html/features.html

@l0co : your code was perfectly correct, but the configuration of the h2 was wrong.

[2020-10-04 15:04] #91 closed

[2020-10-05 15:43] #45 closed

[2020-10-06 11:00] Hayvon commented on #78
With the Commit (https://github.com/NovatecConsulting/micronaut-camunda-bpm/commit/787bdcabfc4cdba90eaf2454054427f79a514266) it is possible to use Micronaut's transaction manager. Unfortunately the problem cannot be solved by only using HikariCP. The problem still occurs.

In the following the problem has been narrowed down further while using HikariCP. For this purpose two important parameters wi

[2020-10-08 13:10] Hayvon commented on #78
Currently Netty EventLoopGroup threads process the incoming load test requests. However, this is not the best practice, as these threads are not suitable for blocking operations.Blocking operations can quickly cause these threads to get stuck and stop processing requests ([source](https://objectcomputing.com/resources/publications/sett/june-2020-micronaut-2-dont-let-event-loops-own-you)).

To work

[2020-10-08 17:17] StephenOTT opened #94 "some carry over from previous work"
Thought this might be of some value for some patterns already figured out:

This is a Kotlin Micronaut setup with lots of plugins and extension points on the engine configuration.
Lots of your currently opened issues were explored, and sometimes partially implemented but then stopped as the value/benefit was not there for where MN was at the time.

https://github.com/StephenOTT/forms-manager/tree/

[2020-10-08 17:21] StephenOTT commented on #88
You can implement a expression resolver to use the MN Bean resolver similar to how Springboot Camunda implements with Delegate Expressions:

https://github.com/StephenOTT/forms-manager/tree/master/src/main/kotlin/formsmanager/camunda/engine/expression

[2020-10-08 17:22] StephenOTT commented on #74
https://github.com/StephenOTT/forms-manager/tree/master/src/main/kotlin/formsmanager/camunda/engine/jobexecutor

[2020-10-08 17:23] StephenOTT commented on #4
some baseline for you as there are a few little kotlin nuances to setting up the engine:
https://github.com/StephenOTT/forms-manager/tree/master/src/main/kotlin/formsmanager/camunda/engine

[2020-10-08 17:28] StephenOTT commented on #1
Have you solved how to serialize the various camunda caching to compile it?  A lot of the internal classes are only partially Serializable: a lot of inconsistencies.

There were also some issues we ran into around aot compilation: things like ID generation of many of the values, various caches (DBCache, Deployment Cache, etc) that were not designed for pre-comp

[2020-10-08 18:20] tobiasschaefer commented on #94
@Hi @StephenOTT ,

thanks for this issue and also the comments in the other issues. I'll have a look at them one by one. I tried to find you on Slack at Camunda Con and Camunda Community but unfortunately couldn't find you.

[2020-10-09 01:20] StephenOTT commented on #94
You can reach me on the zeebe slack or see my GitHub profile for email

[2020-10-09 07:42] tobiasschaefer commented on #1
@StephenOTT : This issue here is only about resolving the paths of the models in the classpath. The AOT of the process models itself is part of #85 .

Regarding #85: I'm actually not thinking of serializing the process model definition instances but transforming the process models into a fluent API using org.camunda.bpm.model.bpmn.Bpmn.createProcess(...)

[2020-10-09 07:45] tobiasschaefer commented on #4
@StephenOTT Actually, we want to keep the library as Java so there is no dependency to the Kotlin Runtime. This task is only about changing the example application (and tests) to Kotlin. Do you see any specific issues there?

[2020-10-09 12:32] StephenOTT commented on #4
Nope 👍🏻

[2020-10-09 12:34] StephenOTT commented on #1
Okay. Note that the fluent API does not support all aspects BPMN. So as a result you need to manually generate many of the objects at a low level of the API.  (Again went down this path as well for other use cases)

[2020-10-09 13:45] #88 closed

[2020-10-09 13:46] tobiasschaefer commented on #85
Comment from @StephenOTT in #1: Note that the fluent API does not support all aspects BPMN. So as a result you need to manually generate many of the objects at a low level of the API. (Again went down this path as well for other use cases)

[2020-10-21 16:58] tobiasschaefer commented on #11
Issue is obsolete with commit 472f27b3fa3f00b872aa704e1d7f8e69c4f34b35

A newer version can be used by adding:

`implementation("org.camunda.bpm:camunda-engine:7.14.0")`

[2020-10-21 16:58] #11 closed

[2020-10-21 19:06] tobiasschaefer commented on #78
Fixed by commit 0df5d09b34d1240e85d288b08613ce8a940f201f

[2020-10-21 19:06] #78 closed

[2020-10-23 06:22] tobiasschaefer commented on #7
Just some comments:
* it would be good if the webapps would be accessible on the same port as the main application. If needed, we could implement a proxy to forward the requests to a second server (probably running on Jetty).
* the application developer decides which server (Netty, Jetty, Undertow) is used. We should not force the usage of a specfic server.
* it should be possible to configure whi

[2020-10-23 07:59] #74 closed

[2020-10-23 14:34] StephenOTT commented on #74
👍

[2020-11-03 08:05] martisaw commented on #7
So the REST-API is an artifact of it's own and can be embedded in any other JAX-RS (Java API fo RESTful Webservices) application. According to the docs it is tested with Resteasy, Jersey and Wink.

Micronaut is not an implementation of the JAX-RS specification, so I used Jersey (Rest Framework that provides a JAX-RS implementation) in combination with the JDK HTTP Server to create a separate serve

[2020-11-03 08:15] martisaw commented on #8
According to the Camunda Docs, this is not an "easy task to do". Probably mostly because it is undocumented. See https://camunda.com/best-practices/deciding-about-your-stack/#_providing_strong_camunda_web_applications_strong_tasklist_cockpit
However in the community I found a solution that may be worth looking at: https://forum.camunda.org/t/embedding-webapp-into-project-with-embedded-process-engi

[2020-11-05 10:13] Hayvon opened #110 "Execute blocking operations on suitable threads"
If Micronaut and a netty server (which is the default) is used, blocking operations must be performed on IO threads to avoid a possible deadlock. Therefore camunda operations must be executed on these threads [(source)](https://objectcomputing.com/resources/publications/sett/june-2020-micronaut-2-dont-let-event-loops-own-you).

So it is necessary to ensure that all camunda operations  are running

[2020-11-05 16:24] tobiasschaefer commented on #110
For now, we don't need a specific JobExecutor but will use the DefaultJobExecutor which manages the threads itself. We currently don't have an issue with that approach but will probably implement a JobExecutor which uses Micronaut managed threads to have a better usage of resources.

So for now, we will only update the README and add an hint regarding `@ExecuteOn(Taskexecutors.IO)`.

[2020-11-05 16:29] tobiasschaefer opened #112 "Implement own JobExecutor"
Currently, we're using the `org.camunda.bpm.engine.impl.jobexecutor.DefaultJobExecutor` which manages its own threads. As suggested by the comment in DefaultJobExecutor we should implement our own JobExecutor.

Advantages
* better usage of resources because then we only have a Micronaut Managed Thread Pool, i.e. not multiple thread pools claiming the same limited resources.

[2020-11-06 10:41] #110 closed

[2020-11-09 16:13] tobiasschaefer opened #118 "Support Enterprise Edition"
Once the WebApps are available with #8 it would nice to use the Camunda BPM Enterprise Edition, e.g. to look at historic data in the Cockpit.

We should document how this is possible with Gradle and Maven. We probably only need to exchange the dependency after having added the EE repository (which require authentication) and make the path to the license file configurable with a new property: `camu

[2020-11-10 12:07] Hayvon commented on #1
GraalVM also uses TypeElementVisitor for adding  resources to the GraalVM config.

See: https://github.com/micronaut-projects/micronaut-core/blob/69ec24c34aebc244209f4e2ced47af694a4d05a1/graal/src/main/java/io/micronaut/graal/reflect/GraalTypeElementVisitor.java#L323

[2020-11-18 19:32] tobiasschaefer opened #122 "Telemetry Data should contain data about server"
The telemetry feature currently sends requests like these:

```{"installation":"ed198377-3cd0-488a-9931-a70d76601b9a","product":{"name":"Camunda BPM Runtime","version":"7.14.0","edition":"community","internals":{"database":{"vendor":"H2","version":"1.4.199 (2019-03-13)"},"application-server":null,"license-key":null,"commands":{},"camunda-integration":["micronaut-camunda-bpm"],"metrics":{"root-proc

[2020-11-19 12:39] Hayvon commented on #1
Current version can be found under: https://github.com/Hayvon/micronaut-camunda-bpm/tree/processModelsAoT

Current ToDos:
-  The @ResourceScan Annoation is still set in the Example
- GradleDaemon bug: GradleDaemon has to be killed manually after code execution
&nbsp; Reproduce: ./gradlew clean run --> CRTL + C --> ./gradlew clean run

[2020-11-26 16:18] tobiasschaefer opened #126 "Support for Generic Properties"
We currently support some properties and the ProcessEngine Configuration and JobExecutor Configuration can be overwritten programmatically.

It would be nice to support generic properties as well, similar to the Camunda Spring Boot Starter, see https://docs.camunda.org/manual/latest/user-guide/spring-boot-integration/configuration/#generic-properties

Here is a list of configuration properties: ht

[2020-11-26 16:20] tobiasschaefer opened #127 "Enable Parallel Build for Gradle to reduce build time"
Parallel builds with `./gradlew clean build --parallel` are quite a bit faster:
Local, without --parallel: ~1m 36s
Local, with --parallel: ~1m 5s

Unfortunately, this fails in combination with `--warning-mode=fail` which we are using in our builds:

[code]

The link in the error message points to https://docs.gradle.org/6.7/userguide/cross_project_publications.html#cross_project_publications

It l

[2020-11-26 16:53] tobiasschaefer commented on #4
Current Status: transactional-test-data-jdbc has been migrated to Kotlin already.

[2020-11-27 12:19] tobiasschaefer opened #128 "Use micronaut-project-template"
use https://github.com/micronaut-projects/micronaut-project-template

see also https://github.com/micronaut-projects/micronaut-core/discussions/4486

[2020-11-30 16:04] tobiasschaefer opened #130 "Remove obsolete configuration properties"
Some configuration properties we implemented are obsolete with #126

Todo:
* identify obsolete properties (check that the default values doesn't change) and remove them
* remove them from the README
* add a warning in the README that these are no longer evaluated.

[2020-11-30 16:05] tobiasschaefer opened #131 "Support Cockroach DB"
Cockroach DB can be used with the PostgreSQL Driver which makes it very easy to use: https://www.cockroachlabs.com/docs/stable/postgresql-compatibility.html

However, I stumbled across some changes added recently in the Spring Integration for CockroachDB:
* https://github.com/camunda/camunda-bpm-platform/blob/master/engine-spring/core/src/main/java/org/camunda/bpm/engine/spring/SpringTransactionsP

[2020-11-30 16:06] tobiasschaefer opened #132 "Log version number of Camunda"
Let's log out the version number of Micronaut and Camunda on start up
* Micronaut: https://docs.micronaut.io/latest/api/io/micronaut/core/version/VersionUtils.html
* Camunda: https://github.com/camunda/camunda-bpm-platform/blob/master/spring-boot-starter/starter/src/main/java/org/camunda/bpm/spring/boot/starter/util/CamundaBpmVersion.java (Let's create a simple class CamundaBpmVersion which only h

[2020-12-01 20:48] Paty-Alonso commented on #132
Hello can I work on this?

[2020-12-01 20:59] tobiasschaefer commented on #132
Hello @Paty-Alonso ,

sure - we welcome contributions. This seems to be a good task to get started.

Please also have a look at https://github.com/NovatecConsulting/micronaut-camunda-bpm/blob/master/CONTRIBUTING.md

In case of questions feel free to reach out at https://gitter.im/NovaTecConsulting/micronaut-camunda-bpm

[2020-12-04 06:42] tobiasschaefer opened #135 "Create Admin User via Configuration Properties"
Let's support
[code]
to create a user with admin privileges on startup - if no user exists with that id.

email should be optional. The others are required if camunda.bpm.admin-user.id is set.

Todo
- implement (possibly look at Camunda Spring Boot Starter)
- implement test
- document this in README (including list of features)

[2020-12-04 06:46] tobiasschaefer opened #136 "Make Micronaut container managed beans available for scripting"
Micronaut Beans are currently not available in scripting

Todo
- implement (possibly look at Camunda Spring Boot Starter, i.e. https://github.com/camunda/camunda-bpm-platform/blob/master/engine-spring/core/src/main/java/org/camunda/bpm/engine/spring/SpringProcessEngineConfiguration.java#L44
- implement test using  `org.camunda.bpm.model.bpmn.Bpmn::createProcess`
- document this in README (includin

[2020-12-04 14:22] #4 closed

[2020-12-07 16:16] tobiasschaefer opened #143 "Support ProcessEngine Plugins"
If a ProcessEngine Plugin is provided as a Micronaut bean, it should be used. That is currently not the case.

See also https://docs.camunda.org/manual/latest/user-guide/process-engine/process-engine-plugins/

Todo
* implement (it would be nice if all Plugins provided as beans would be added automatically to `((ProcessEngineConfigurationImpl)configuration).getProcessEnginePlugins()` so that the co

[2020-12-11 15:29] Hayvon commented on #126
Current implementation status can be found here: https://github.com/Hayvon/micronaut-camunda-bpm/tree/genericProperties

Done:
- Properties can now be set via camunda.bpm.generic-properties.properties
- Application throws exception when undefined properties are set
- Provisional type recognition
- Test added

ToDo:
- setIgnoreInvalidFields and set IngnoreUnknownFields (see: https://github.com/camu

[2020-12-16 05:39] #127 closed

[2020-12-18 07:01] tobiasschaefer opened #150 "Support User Task Forms"
Verify and document how user task forms are supported: https://docs.camunda.org/manual/latest/user-guide/task-forms/

[2020-12-18 07:02] tobiasschaefer commented on #143
This seems to work:

[code]

[2020-12-18 15:38] #135 closed

[2020-12-21 11:24] tobiasschaefer opened #153 "Support DmnEngine"
Similar to the ProcessEngine we need to provide a DmnEngine bean which can be injected where needed.

Todo

* implement
* implement test
* document this in README (including list of features)

[2020-12-23 11:58] tobiasschaefer commented on #122
Note: if webapps are enabled (currently in development) putting a break point in the following class will actually have the correct version of Jetty:

`org.camunda.bpm.engine.impl.telemetry.dto.ApplicationServer(String version)`

[2020-12-23 13:06] tobiasschaefer opened #158 "Telemetry not always sending the name of the integration"
In the following
* "Sending initial telemetry data" does not contain the name of the integration ->error
* "Sending telemetry data" contains the name of the integration -> good

[code]

To reproduce put a break point in TelemetryReporter::start, start the example application and modify `initialReportingDelay` to be 10000 (instead of 300000).  A little later you should see the output above.

[2021-01-05 10:46] #126 closed

[2021-01-05 10:46] #130 closed

[2021-01-06 14:31] TitusLabs commented on #158
I think this works as intended. For the initial telemetry message, the `TelemetrySendingTask` of Camunda creates a new `Internals` object on line 184. This is set to `staticData.product` and send out immediately. All the missing data is merged in afterwards...

[2021-01-07 06:27] tobiasschaefer commented on #158
Just for the record, this is the code at line 184:
[code]

[2021-01-08 06:17] tobiasschaefer commented on #158
Thanks @TitusLabs . You're perfectly right: I can confirm that Spring Boot doesn't send the name of integration either on the initial telemetry message.

[code]

I'm closing this issue now.

[2021-01-08 06:17] #158 closed

[2021-01-15 05:36] #132 closed

[2021-01-15 05:50] tobiasschaefer opened #168 "Provide Camunda Tasklist, Cockpit, Admin applications and REST API on Tomcat"
see also #7 and #8

[2021-01-15 05:50] tobiasschaefer opened #169 "Provide Camunda Tasklist, Cockpit, Admin applications and REST API on Undertow"
See also #7 and #8

[2021-01-15 05:51] tobiasschaefer opened #170 "Provide Camunda Tasklist, Cockpit, Admin applications and REST API on Netty"
see also #7 and #8

Note: Netty is non-blocking and does not have a servlet context. The solution will need to be different.

[2021-01-22 06:15] tobiasschaefer opened #177 "CamundaBpmVersion cannot be determined for fat-jar / Docker"
To reproduce:
[code]

fails with
[code]

This also fails for docker which uses the fat-jar:

1. Save micronaut-camunda-bpm-example/Dockerfile:
[code]

2. execute
[code]

Note: if the dependency is pulled into a project and the application is started from IntelliJ, everything is fine.

[2021-01-24 12:48] tobiasschaefer commented on #122
The Camunda Spring Boot determines this: (first String is result of `servletContext.getServerInfo()`, second is the vendor in the class ApplicationServer, and third is the version in the class ApplicationServer)
* "jetty/9.4.29.v20200521" -> "jetty" "jetty/9.4.29.v20200521"
* "Apache Tomcat/9.0.36" -> "Apache Tomcat" "Apache Tomcat/9.0.36"
* "Undertow - 2.1.3.Final" -> "Undertow" "Undertow - 2.1.3

[2021-01-25 18:18] #122 closed

[2021-01-26 06:13] tobiasschaefer opened #182 "Netty version is not determined when using a fat jar"
Running
`./gradlew clean build && java -jar micronaut-camunda-bpm-example/build/libs/micronaut-camunda-bpm-example-0.0.1-SNAPSHOT-all.jar` will not determine the Netty Version but logs
`WARN  i.n.m.c.b.f.MnTelemetryRegistry - Unable to identify the application server for the telemetry data!`

Notes
* it works when started in IntelliJ
* it doesn't work in the fat jar created by the shadow plugin
*

[2021-01-26 07:18] #177 closed

[2021-01-29 05:17] #7 closed

[2021-01-29 05:18] tobiasschaefer commented on #8
Closed together with #7

[2021-01-29 05:18] #8 closed

[2021-01-29 09:39] #182 closed

[2021-01-29 11:54] tobiasschaefer opened #188 "Version cannot be determined on fat-jar"
To reproduce:
[code]

doesn't output the version:
`INFO  i.n.m.c.b.f.ProcessEngineFactory - Camunda BPM version: `

This is also problematic because the telemetry data will be rejected by the Camunda telemetry endpoint if the version is missing. Therefore we currently need to disable the Telemetry Reporter in this case.

This also applies to Docker which uses the fat-jar:

1. Save micronaut-camund

[2021-02-03 06:54] Hayvon commented on #9
An outdated test applikation with micronaut-camunda-bpm and GraalVM can be found here:  https://github.com/Hayvon/micronaut-camunda-bpm/tree/workingBranchNativeImage_v2.

Done:
- Provided necessary GraalVM configuration, so application starts

Problems:
- using micronaut-camunda-bpm version 0.0.1-SNAPSHOT
- Autodetection and deployment of BPMN diagrams not working --> Workaround where you need to

[2021-02-08 05:52] tobiasschaefer opened #195 "Separate Dependencies for REST and Webapps"
Currently, the REST API and the Webapps are included in the main feature project. However, this results in a JAR about 52 MB large which includes dependencies which might not be used (and are disabled by default).

Todo
- Split project into two new ones
- remove properties? Or at least then enable REST and Webapps by default.
- Adapt upload of artifacts
- document usage of dependencies in README

[2021-02-10 18:02] tobiasschaefer opened #198 "Don't redirect to /camunda if webapps are not enabled"
Even if the webapps are not enabled the redirect to /camunda is enabled by default. The redirect only makes sense if the webapps are enabled.

* We probably just need to add a "requires" for property `camunda.bpm.webapps.enabled=true`
* We probably need another simple test for this scenario.
* Please also add a short javadoc to class "RedirectToWebappsController" what the class is about.

[2021-02-12 10:33] #198 closed

[2021-02-12 11:12] #136 closed

[2021-02-13 13:55] arolfes opened #203 "add a static code analysis"
As a developer I want to have a static code analysis during build to see mistakes.

I suggest _spotbugs_ because it can be easily configured and has a gradle plugin so it can be used during local builds.

[2021-02-13 13:57] arolfes opened #204 "spotbugs finding MnProcessEngineConfiguration.java#L88"
info.novatec.micronaut.camunda.bpm.feature.MnProcessEngineConfiguration.lambda$buildProcessEngine$0(TransactionStatus) may fail to close Connection

don't use database.getConnection to get the URL
use the micronaut configuration

[2021-02-13 13:57] arolfes opened #205 "Spotbugs: externaltask/process/ItemDelegate.java#L21"
info.novatec.micronaut.camunda.externaltask.process.ItemDelegate.execute(DelegateExecution) uses the nextDouble method of Random to generate a random integer; using nextInt is more efficient

[2021-02-14 20:47] tobiasschaefer opened #206 "Default values for First and Last Name of admin user"
Currently, if the admin is is created, i.e. camunda.bpm.admin-user.id is present, then firstname and lastname must both be set. Instead they should both default to the capitalized id, see https://github.com/camunda/camunda-bpm-platform/blob/34aecf760493bba0534f499b1d94d8024692f7dc/spring-boot-starter/starter/src/main/java/org/camunda/bpm/spring/boot/starter/property/AdminUserProperty.java#L38

Tod

[2021-02-15 16:22] tobiasschaefer commented on #205
I think we should use `int randomNum = ThreadLocalRandom.current().nextInt(min, max + 1)`, see https://stackoverflow.com/questions/363681/how-do-i-generate-random-integers-within-a-specific-range-in-java

[2021-02-15 16:40] arolfes commented on #204
Hi @tobiasschaefer ,
We want to log the URL of the database where camunda tables are stored.
Therefore the parentclass has already the correct property jdbcUrl. I decided to use this one instead of injecting the value of `datasource.default.url`
Is it correct?

[2021-02-15 18:20] #205 closed

[2021-02-16 05:44] #204 closed

[2021-02-17 17:35] tobiasschaefer opened #215 "Cleanup example-external-task-process to use the official REST API"
The module `example-external-task-process` includes code to manually provide a simple REST interface like the one from Camunda.

We can now remove it because we support it ourself by setting the property `camunda.bpm.rest.enabled: true`.

Todo
* configure REST
* remove some code
* test it

[2021-02-17 17:35] tobiasschaefer opened #216 "Add Support Micronaut External Worker Abstraction"
We already have "example-external-task-worker".

Todo
* Let's abstract this and create a dependency which simplifies the creation of external workers.
* see also https://jira.camunda.com/browse/CAM-10863 which links to https://github.com/camunda/camunda-external-task-client-spring-boot/
* test this with GraalVM native image, see also https://github.com/tobiasschaefer/micronaut-camunda-bpm/tree/ext

[2021-02-18 18:26] #206 closed

[2021-02-19 08:17] lwluc commented on #143
Check out this  [branch](https://github.com/lwluc/micronaut-camunda-bpm/tree/ldap-plugin), which provides a working example using the [LDAP Identity Service Plugin](https://docs.camunda.org/manual/latest/user-guide/process-engine/identity-service/#the-ldap-identity-service).

After adding the plugin dependency I implemented the `ProcessEngineConfigurationCustomizer` adding a configured object of t

[2021-02-19 11:17] tobiasschaefer opened #219 "Support autocompletion for all properties"
application.yml of the application supports autocompletion of our properties. However, "camunda.bpm.webapps.index-redirect-enabled" does not work - probably because it is not defined in the "Configuration" class.

Todo
* check which properties are missing
* it would be nice if the methods of the "Configuration" class would actually be used so that the default value is defined in one single place.

[2021-02-19 12:03] tobiasschaefer opened #220 "HikariCP configuration cannot be overwritten"
We overwrite some HikariCP configuration values in `info.novatec.micronaut.camunda.bpm.feature.DefaultPropertySourceLoader`.

If you set the log level to "debug" in logback.xml then HikariCP will log out its configuration and you'll see that your configuration in `application.yml`is ignored.

Todo
* Properties in `application.yml` should have a higher precedence than the defaults defined by the in

[2021-02-22 07:37] #188 closed

[2021-02-23 09:55] martisaw commented on #143
I added the mechanism to automatically load plugins. Therefore I updated Lucs Ldap example, see this [commit](https://github.com/martisaw/micronaut-camunda-bpm/commit/b849a5ba42d44a8b1bc7eadaf17f40410f6bf6a3).

[2021-02-26 08:00] arolfes opened #231 "Showing Process Definition in Cockpit fails on PostgreSQL"
Hello,

we want to run Camunda Cockpit as "standalone" process with micronaut-camunda-bpm . Therefore we use a postgres db and a separate spring boot camunda process with one deployed process.

Then we start micronaut camunda cockpit configured with same db.

At first glance everything starts fine. But when you open the process instance you get an error: "Cannot commit when autoCommit is enabled."

[2021-02-26 10:10] tobiasschaefer opened #234 "Keycloak Integration"
Does the Camunda Keycloak integration work?

see https://github.com/camunda/camunda-bpm-identity-keycloak

Todo
* Test it
* Document (if not covered by  #143) or extend the existing documentation

[2021-02-26 15:51] arolfes commented on #215
Hi @tobiasschaefer
I will work on this issue to understand the camunda REST-API and write tests for it.
How to enable it, I know already

[2021-02-28 18:16] tobiasschaefer commented on #19
Here is MyBatis together with GraalVM: https://github.com/mybatis/mybatis-3/issues/1552

[2021-03-01 10:02] arolfes commented on #231
The problem does not occur with H2 database driver.
maybe this problem is related to #220

i will try the changes from martins branch

[2021-03-01 10:26] arolfes commented on #231
the fix from martin does not help

I pushed a branch where the problem occurs
https://github.com/arolfes/micronaut-camunda-bpm/tree/standalone-cockpit

[2021-03-01 20:13] tobiasschaefer commented on #231
The scenario in which this fails in the cockpit is much simpler: if you take the example application, switch to PostgreSQL and then show the process model you'll see the exception as soon as list of process instances is shown below the process model.

Note: if `org.apache.ibatis.transaction.jdbc.JdbcTransaction::resetAutoCommit` is modifed in the Debugger to to not set `connection.setAutoCommit(tr

[2021-03-03 20:01] #143 closed

[2021-03-04 09:38] martisaw commented on #219
Hint: IntelliJ Community Edition does not support autocompletion for those properties. You need IntelliJ Ultimate to see it.

[2021-03-04 13:10] arolfes commented on #83
https://docs.camunda.org/manual/7.14/user-guide/process-engine/metrics/

[2021-03-04 16:45] #220 closed

[2021-03-04 16:51] #231 closed

[2021-03-04 16:58] #219 closed

[2021-03-05 08:14] arolfes commented on #83
first example export to console

[code]

[2021-03-05 10:37] martisaw commented on #216
See https://github.com/camunda/camunda-bpm-platform/tree/pipeline-CAM-10863/spring-boot-starter/starter-client

[2021-03-08 05:40] tobiasschaefer commented on #1
A GraalVM feature for Flyway that calculates the migration to apply at compile time: https://github.com/micronaut-projects/micronaut-flyway/blob/master/flyway/src/main/java/io/micronaut/flyway/graalvm/FlywayFeature.java

[2021-03-08 05:46] #215 closed

[2021-03-08 16:10] #118 closed

[2021-03-10 18:45] tobiasschaefer opened #246 "Second Process Test fails with java.sql.SQLException"
If you create a second Process Test, e.g. duplicate `info.novatec.micronaut.camunda.bpm.example.HelloWorldProcessTest` then this will fail with

[code]

[2021-03-13 07:25] osh-onstructive opened #249 "Docker Built Version of Example Project: Camunda web-app not working"
Issue: When using any of the example projects and generate a docker image, the Camunda web-app isn't working.

Environment:
Java 8 & 15 (tried with both)
Latest versions of the repositories.

Steps to Reproduce:
[code]

In a browser, navigate to http://localhost:8080/camunda

Result:
No data is sent for the request.

Note, when using the "./gradlew run" approach, then the web-apps are available.

[2021-03-13 18:39] tobiasschaefer commented on #249
Hi @osh-onstructive ,

I can confirm the behaviour you describe. We'll try to find the root cause and fix it.

[2021-03-13 21:27] tobiasschaefer commented on #249
Hi @osh-onstructive ,

the error can actually be reproduced very easily with a Micronaut Application created from scratch with "mn create-app simple-app" and changing the runtime to Jetty. So it's basically a problem running Jetty in Docker.

The problem is that Jetty by default only listens on "localhost" but would need to listen to 0.0.0.0, see also
* https://github.com/moby/moby/issues/2522
* h

[2021-03-13 22:16] tobiasschaefer commented on #249
Hi @osh-onstructive ,

I found a solution: please configure the following property `micronaut.server.host: 0.0.0.0`.

We'll either document this in the README or maybe even configure that as default.

Does this solution work for you?

[2021-03-14 05:35] osh-onstructive commented on #249
Hi @tobiasschaefer

Excellent, that works for me. What I did so that this is just part of the "docker" settings, is added the following to my build.gradle file where I am also controlling the port, etc. in the docker deployment:

[code]

[2021-03-15 07:48] #249 closed

[2021-03-15 14:07] martisaw opened #252 "Jetty Webapps: Implement SecurityFilter and CsrfPreventionFilter"
There are still three TODOs in the class JettyServerCustomizer.java that need to get implemented:
https://github.com/NovatecConsulting/micronaut-camunda-bpm/blob/6190b2708a4cf81b600c29a38258b13137ca8f45/micronaut-camunda-bpm-feature/src/main/java/info/novatec/micronaut/camunda/bpm/feature/JettyServerCustomizer.java#L153-L155

Maybe you can get some information/inspiration on how to do that from:
h

[2021-03-15 16:11] tobiasschaefer commented on #249
Hi @osh-onstructive ,

as an open source project we're not aware of all installations. However, we'd love to hear your feedback. And of course we would also like to discuss what you are using the Micronaut Camunda Integration for to prioritise the next steps. I'm curious what you are using it for.

Are you interested in an exchange via mail or online meeting? I'd be happy if you contact me at tobi

[2021-03-23 10:05] martisaw commented on #216
For now, the Subscription already works. What need to be done:

- [ ] Documentation
- [ ] Tests
- [ ] ClientRequestInterceptors
- [ ] BackoffStrategy

[2021-03-23 14:25] martisaw commented on #246
The logs show that each test creates a HikariPool, uses it and shuts it down.

The duplicated test does not do that. It create a new Pool but tries to reuse an older pool (More precisely the one of the process test that got executed first).

[2021-03-23 21:45] arolfes commented on #246
Hi @martisaw ,

thank you for the hint.

The problem is in `org.camunda.bpm.engine.test.assertions.bpmn.BpmnAwareTests` or even more detailed

when `BpmnAwareTests.assertThat` is called, a static method `processEngine()` is called.
This one holds a reference to the first instantiation from processEngine.

[code]

and in this class processEngine is static

[code]

[2021-03-23 22:00] arolfes commented on #246
this is recommended by BpmnAwareTests developers

https://github.com/camunda/camunda-bpm-assert/blob/master/docs/README.md#using-a-non-default-process-engine

[2021-03-24 05:57] tobiasschaefer commented on #246
Wow, thanks @arolfes

Let's change the existing test to

[code]

We should also
* document this in the pitfalls section of the README and reference https://github.com/camunda/camunda-bpm-assert/blob/master/docs/README.md#using-a-non-default-process-engine there
* update the example process test in the README

[2021-03-24 07:02] martisaw commented on #246
Hey @arolfes, thanks for your PR and the detailed research!

@tobiasschaefer I'll take care of it.

[2021-03-24 17:31] arolfes commented on #112
To compare with https://github.com/camunda/camunda-bpm-platform/blob/master/engine-spring/core/src/main/java/org/camunda/bpm/engine/spring/components/jobexecutor/SpringJobExecutor.java

[2021-03-24 19:46] #246 closed

[2021-03-26 08:51] tobiasschaefer commented on #1
Scanning recursively is not very resource efficient - instead the locations can now be configured which is the same as for micronaut-flyway.

[2021-03-26 13:20] martisaw commented on #234
What I tested:
I created a keycloak user that I used to
* log into the Webapps
* get responses from the rest api with basic-auth enabled

Instruction
1. Start keycloak `docker run -p 8080:8080 -e KEYCLOAK_USER=admin -e KEYCLOAK_PASSWORD=admin -e DB_VENDOR="h2" quay.io/keycloak/keycloak:12.0.4`. Follow the installation instructions [here](https://github.com/camunda/camunda-bpm-identity-keycloak). A

[2021-03-26 14:06] tobiasschaefer commented on #234
Thanks @martisaw for the documentation in this issue and the example - I'm closing this issue now.

If there is enough demand we might document this somewhere but for now this should be sufficient since the keycloak integration behaves like any other plugin which is already documented.

[2021-03-26 14:06] #234 closed

[2021-03-26 14:16] tobiasschaefer commented on #234
@raghung: If I'm not mistaken you asked in the webinar in February 2021 if the Camunda Micronaut Integration supports Micronaut.

In the webinar we said it should work - now we can confirm it does :-) See details in this issue.

[2021-03-26 15:13] raghung commented on #234
Thanks @tobiasschaefer, it helps. I am planning to migrate current Springboot app to Micronaut🙂

[2021-03-26 15:23] tobiasschaefer commented on #234
Hi @raghung ,

wow - good to hear that our integration works for you :-)

As an open source project we're not aware of all installations. However, we'd love to hear your feedback. And of course we would also like to discuss what you are using the Micronaut Camunda Integration for to prioritise the next steps. I'm curious what you are using it for.

Are you interested in an exchange via mail or onl

[2021-03-29 11:28] #1 closed

[2021-03-29 17:04] #112 closed

[2021-03-29 20:30] arolfes commented on #112
Hi @tobiasschaefer

the changes for loadtesting with postgres are in this branch
https://github.com/arolfes/micronaut-camunda-bpm/tree/Postgres-Prometheus-Grafana

[2021-04-14 13:13] martisaw opened #277 "MySQL Datasource: It is not possible to restart the application"
Using MySQL as the datasource results in an error when restarting the application. On Startup it tries to create tables that already exist.

My Setup:

MySQL 8.0.23 in a docker container on port 3306. The following database driver in the build.gradle
[code]
My configuration
[code]

<details>
<summary>The Stacktrace</summary>
15:08:47.029 [main] ERROR org.camunda.bpm.engine.persistence - ENGINE-030

[2021-04-14 15:06] tobiasschaefer commented on #216
Closing because this has been implemented in https://github.com/NovatecConsulting/micronaut-camunda-external-client

[2021-04-14 15:06] #216 closed

[2021-04-21 06:45] martisaw commented on #252
Note: I manually tested the following properties:

`camunda.webapps.csrf.target-origin`
I set the target-origin to `example.com` -> The Webapps show an error when I try to log in because it is the wrong domain. Setting it to `http://localhost:8080` allowe me to log in (Worked as expected).

`camunda.webapps.csrf.cookie-name`
The default cookie name is `XSRF-TOKEN`. I changed the name and checked w

[2021-05-04 16:56] #252 closed

[2021-05-31 16:59] osh-onstructive opened #292 "Adding the CSRF entry points doesn't seem to work for whitelisting access"
Due to our deployment restrictions, the CSRF needs to either be disabled or configured so that the filter is always ignored because additional header tokens are removed.

I have configured the application with the following environment variable so that the web application is always accessible:
```JDK_JAVA_OPTIONS="-Dcamunda.webapps.csrf.entry-points=\"/camunda/app/,/camunda/api/\""```

But even wi

[2021-06-01 13:03] martisaw commented on #292
Hi @osh-onstructive,

I'll look into it. Can you provide me some information about your setup so that I can reproduce your problem?

Regards,
Martin

[2021-06-01 13:14] osh-onstructive commented on #292
Hi Martin,

In our setup, there is a 3rd party firewall involved, and this strips out a lot of header information, including the token used for the cross site verification.

In the mean time, I have extended the Jetty configuration class and replaced it, where I then change the filter to be an "allow all" version.

[code]

But you may also have noticed that I have created a PR where we could disab

[2021-06-01 16:53] martisaw commented on #292
Hi @osh-onstructive,

thanks for the details! Alright I understand.

Yes, thanks for the PR! I will have a look and discuss it with @tobiasschaefer

[2021-06-16 09:32] martisaw commented on #292
Hi @osh-onstructive,

I managed to recreate your issue by using a browser extension (ModHeader) to remove the X-XSRF-Token from every request.

To login at the welcome page (http://localhost:8080/camunda/app/welcome/default/#!/login) you have to configure the entry-points property as follows:
[code]

However, there is a downside to this approach. You have to manually add **every** URL where you do

[2021-06-16 09:40] tobiasschaefer commented on #292
Hi @osh-onstructive ,

thanks for your patience and for creating the pull request #293!

We had a closer look and managed to reproduce the error, see Martin's comment. However, we're not convinced that we should merge it.

To us it sounds as if you have a misconfigured firewall dropping your headers. Camunda uses session cookies and in that case CSRF should be enabled: https://docs.camunda.org/man

[2021-06-16 13:16] martisaw opened #296 "GitHub Actions: Nightly All Combinations fails because build with JDK 16 and Tomcat fails"
Since we introduced the support for JDK 16 (https://github.com/NovatecConsulting/micronaut-camunda-bpm/commit/6931def29d71b39e779636b611f91e0a6f7cb33c) the nightly all combinations build on GitHub Actions fails for the combination JDK 16 and Tomcat. See e.g. https://github.com/NovatecConsulting/micronaut-camunda-bpm/runs/2835311983?check_suite_focus=true

Unfortunately, I am not able to recreate t

[2021-06-17 15:27] tobiasschaefer commented on #296
I managed to reproduce this with a trivial application.

Here is the issue which needs to fixed: https://github.com/micronaut-projects/micronaut-servlet/issues/215

[2021-07-10 07:17] osh-onstructive commented on #292
Hi Tobias,

We will stick with our workaround, so the PR and ticket can be closed. (but at least it shows how we can easily achieve this)

Thanks,
Osian

[2021-07-10 07:17] #292 closed

[2021-07-11 14:32] tobiasschaefer commented on #292
Hi @osh-onstructive ,

thanks for your feedback.

Tobias

[2021-08-04 15:12] tobiasschaefer opened #312 "(Micronaut) Eventing Bridge"
Let's see if we can implement something similar to the [Spring Eventing Bridge](https://docs.camunda.org/manual/latest/user-guide/spring-boot-integration/the-spring-event-bridge)

The request comes via #311. Some time ago this feature was also asked by Silvan.

Todo
* document use cases for this feature request
* implement in the [feature project](https://github.com/camunda-community-hub/micronaut

[2021-08-04 16:07] silvanbrenner commented on #312
Ho @tobiasschaefer you can assign the issue to me :)

[2021-08-05 11:57] silvanbrenner commented on #312
I've copied the most of the spring boot implementation and it seems to be working. Current state is on https://github.com/silvanbrenner/micronaut-camunda-bpm

[2021-08-24 06:42] #312 closed

[2021-09-10 08:04] #296 closed

[2021-11-28 14:18] datakurre opened #353 "How to configure fetchAndLock long poll? (asyncResponseTimeout has no effect)"
I have followed README to configure a Micronaut Camunda application with jetty because of webapps support.

Unfortunately, asyncResponseTimeout for REST API external-task/fetchAndLock seem to have no effect. Response is always instantly returned:

[code]

The same command works as expected with the default Camunda Docker images.

[2021-11-28 17:54] datakurre commented on #353
The project seems to depend on `org.camunda.bpm:camunda-engine-rest`

https://github.com/camunda-community-hub/micronaut-camunda-bpm/blob/910c0badab9c710d22d1504bf3b15fec294a0e47/micronaut-camunda-bpm-feature/build.gradle#L47

when asyncResponseTimeout is feature of

`org.camunda.bpm:camunda-engine-rest-jax2rs`

[2021-11-28 17:57] datakurre commented on #353
https://github.com/camunda/camunda-bpm-spring-boot-starter/commit/79e862d567f7c31de51da1673b227ae82cb90970#diff-572d41f4162cfe2c52d3ca94a817349a3e55e436504331946c56e1a5e8c31d00

[2021-11-28 18:29] tobiasschaefer commented on #353
Hi @datakurre ,

thanks for reporting this issue and giving us those hints.

There is a small typo in the dependency you mentioned. Correct is `implementation("org.camunda.bpm:camunda-engine-rest-jaxrs2:$camundaVersion")` (2 at the end)

I tried replacing the dependency but then it fails with
[code]

Your're welcome to create a PR (see [CONTRIBUTING.md](https://github.com/camunda-community-hub/mic

[2021-11-28 19:44] datakurre commented on #353
@tobiasschaefer Thanks for confirming the issue!

Unfortunately, I was unable to solve

[code]

[2021-11-29 17:15] #353 closed

[2021-11-29 17:35] datakurre commented on #353
🎉❤️

[2021-11-29 18:13] tobiasschaefer commented on #353
Hi @datakurre ,

we've published [release v2.3.1](https://github.com/camunda-community-hub/micronaut-camunda-bpm/releases/tag/v2.3.1) which fixes the bug you reported.

Please confirm that your issue has been resolved (and thanks for reporting it).

[2021-11-29 20:33] datakurre commented on #353
@tobiasschaefer Unfortunately, I was unable to confirm the fix yet :flushed:

I am new to micronaut, but I assume that updating pom.xml should be enough

[code]

And after shutting down, I now get the following stacktrace:

[code]

[2021-11-29 21:13] tobiasschaefer commented on #353
@datakurre

Yes, your change in the dependency is correct 👍

The exception is surely an unwanted side effect of the deletion of the `contextDestroyed` method: https://github.com/camunda-community-hub/micronaut-camunda-bpm/commit/f4866e2762863c260196372e9300e6fd5fd4b453#diff-188ba99efc68f0cf5b032be1d95ae420cb2d8709ffb6787b117c585c2d39cc7cL170

So this would need to added again - and also for the ot

[2021-11-29 21:53] datakurre commented on #353
@tobiasschaefer I created the app using https://micronaut.io/launch/ with Java 17 and Maven, starting with  ./mvnw mn:run with OpenJDK Runtime Environment (build 17.0.1+12).

Curiously, I also get this error from the default test provided by micronaut launch scaffold with `mvn test`.

[2021-11-30 07:26] tobiasschaefer commented on #353
@datakurre
Sorry about the regression with the exception. It also came in the test because the process engine is started by default and closed again when the application context is closed.

Release 2.3.2 should now work for you. Looking forward to your feedback!

[2021-11-30 07:41] datakurre commented on #353
@tobiasschaefer I can confirm that everything works now. Thanks a lot for the hard work and quick fixes!

FYI. asyncResponseTimeout still does not work when run with `./mvwn mn:run`, but when I package a JAR its contents look right and asyncResponseTimeout works as expected when running the JAR. Probably work also for other packaging options.

[2021-11-30 17:41] tobiasschaefer commented on #353
@datakurre
Strange, that `./mvnw mn:run` fails to activate the long polling but I can confirm that behaviour. The Maven project works when starting the application from IntelliJ.
With a Gradle project it works too: `./gradlew run` and also from IntelliJ.

Note:
* Running a Fat/Uber/Shadow JAR may lead to other problems: https://github.com/camunda-community-hub/micronaut-camunda-bpm#no-version-info

[2021-11-30 18:50] datakurre commented on #353
@tobiasschaefer Thanks. I'm quite happy now with long-polling working in built version. Regarding maven vs. gradle, are there any runtime related differences? (Not sure if I miss anything that I'd really need.)

[2021-11-30 20:34] tobiasschaefer commented on #353
@datakurre no, I’m not aware of any differences.

I’d be happy to discuss any other questions you might have and I’d also like to know more about your use use. I sent you a LinkedIn contact request 😀

[2021-12-21 16:12] tobiasschaefer commented on #86
Some ideas
* let's first serialize the configuration (maybe even to an absolute path) and if a parameter is set then deserialize the configuration (and skip reading the XML configuration). If this POC is successful (start is fast) we can continue to move the serialization to the build phase
* let's use [Kryo](https://github.com/EsotericSoftware/kryo) to serialize the configuration object
* we migh

[2022-01-12 06:54] tobiasschaefer commented on #150
Hi @liefra,

regarding your like: are you aware that you can deploy forms by just placing them in the root of the resources (this is our default behaviour), see https://github.com/camunda-community-hub/micronaut-camunda-bpm#deploying-models ?

Does this help you? If not: what features are you missing?

[2022-01-12 07:23] liefra commented on #150
Hi @tobiasschaefer,

Thanks for your reply. That's great to know. I'll give it a try in the coming days and will report back in case it doesn't work.

By the way. Thank you very much for this great Micronaut/Camunda integration.

[2022-01-28 11:06] tobiasschaefer commented on #150
Hi @liefra ,

you wanted to report back if it doesn't work. Can I assume that you're using task forms successfully? :-)

And thanks for your feedback regarding your experience with the Micronaut/Camunda integration 👍

I'd be interested to hear for which use case you're using the integration. Shall we have a talk via Zoom or MS Teams? I'd be happy if you contact me at tobias.schaefer@novatec-gmbh.d

[2022-02-01 02:56] liefra commented on #150
Hi @tobiasschaefer

Sorry for my late response. Yesterday I updated to Micronaut 3.3.0 and the latest version of the Camunda plugin and all works fine now regarding the deployment of forms!

Currently we don't have a production app with the Camunda plugin yet, as for now we implemented the business flows programmatically without Camunda. But moving to Camunda would make the architecture more scala

[2022-02-04 07:19] tobiasschaefer opened #371 "Link to Micronaut Launch with Jetty preselected"
Most users will switch from Netty to Jetty to be able to use the webapps

1. let's make jetty the default which selecting "camunda" in Micronaut-Launch
2. Link in README to Micronaut Launch should include Jetty
3. Maybe update README text as well

[2022-02-04 08:00] tobiasschaefer commented on #150
Hi @liefra ,

I'm happy to hear that it is working for you 👍

I'm looking forward to your mail (or did I miss it?)

[2022-02-04 08:01] tobiasschaefer commented on #150
Closing the issue because forms are generally supported, see https://github.com/camunda-community-hub/micronaut-camunda-bpm#deploying-models

[2022-02-04 08:01] #150 closed

[2022-02-26 19:55] tobiasschaefer opened #377 "Remove Spring Dependency"
It would be nice to remove the spring-beans dependency:

[code]

However, this is currently being used to determine the resources in the classpath.

Is there a better way?

[2022-02-27 19:47] #14 closed

[2022-03-11 14:20] tobiasschaefer commented on #377
Some random links
* https://stackoverflow.com/questions/57510886/micronaut-list-resources-files
* https://docs.micronaut.io/1.1.0/api/io/micronaut/cli/io/support/ResourceUtils.html
* https://stackoverflow.com/questions/53370135/is-there-an-equivalent-for-springs-resource-in-micronaut

[2022-03-22 08:41] martisaw opened #386 "Error in the persistence layer on startup"
After upgrading to 2.5.0, my application does not start anymore because an exception occurred in the persistence layer.

The issue seems to be
`### Error querying database.  Cause: java.lang.IllegalArgumentException: Mapped Statements collection does not contain value for selectEventSubscriptionsByNameAndTenantId`

Attached you can find my startup log.
[startup-error.txt](https://github.com/camund

[2022-03-23 19:22] tobiasschaefer commented on #386
Hi @martisaw ,

thanks for the bug report.

Release 2.6.0 should fix your issue

[2022-04-05 19:31] celanthe opened #395 "Update repository name, documentation, and assets"
Hi Tobias,

I hope today finds you well! This issue is being opened to inquire as to if you would be open to renaming your extension on GitHub (found via the 'Settings' option) to reference Camunda Platform 7 after its latest release on April 12th, 2022, rather than Camunda BPM. (For example: micronaut-camunda-platform-7) This change will also likely impact any screenshots you have in the README t

[2022-04-06 16:01] #395 closed

[2022-06-02 17:29] datakurre opened #410 "Enabling history cleanup on empty db fails Camunda startup"
Not sure if this is because of Camunda or Micronaut Camunda, but when I configure history cleanup with batch window start time, Camunda startup fails with the stack trace below.

If I start Camunda once without history cleanup window batch window start time first, I can enable the setting and everything works as expected.

[code]

[code]

[2022-06-02 19:06] tobiasschaefer commented on #410
Hi @datakurre,

thanks for creating the bug report - seems we optimized the start too much and some tables are loaded too late during startup ;-)

However, I cannot reproduce the issue by setting the property on my example application. Do you have a minimal example application to reproduce the issue?

Tobias

[2022-06-02 21:01] datakurre opened #411 "How to properly add Cockpit plugins?"
What is the right way to include UI plugins for Camunda Cockpit (and other apps) in a Micronaut Camunda app?

Last time I tried, I ended up copying whole "resources/META-INF" from camunda webapp jar and added plugins into the mix. I recall that once I added resources/META-INF into the app, it did override the resource directory from webapp jar.

https://github.com/datakurre/carrot-rcc/tree/main/ni

[2022-06-03 15:00] tobiasschaefer commented on #411
Hi @datakurre ,

I've actually never created a UI plugin for Camunda so I need some time to research your request.

[2022-06-03 16:11] datakurre commented on #411
Hi @tobiasschaefer,

it's mainly about how those static resource files are packaged and discovered in Java. And that's something what has been hard for me to google, because Java is not my first language.

In Camunda Spring Boot, it's enough to add the overriding and additional files into apps "META-INF" like at https://gitlab.com/atsoukka/robot-rpa-playground/-/tree/master/camunda/app/src/main/re

[2022-06-03 20:06] tobiasschaefer commented on #410
Thanks @datakurre. I can reproduce the issue now.

Actually, the issue is only reproducible with postgres and not with h2.

We don't have any specific h2 or postgres related code in the Micronaut Camunda Integration. My first guess that it is related to the optimized startup has now proven wrong because I can also reproduce it with previous versions (which didn't include the startup).

Unfortunate

[2022-06-11 09:31] datakurre opened #414 "How to properly enable GraalJS (jor "javascript" script format)?"
With a maven project, when I add GraalJS dependencies

[code]

and execute process with JS script task, I get the following error:

[code]

with stack trace

[code]

[2022-06-17 13:44] #414 closed

[2022-06-17 13:58] tobiasschaefer commented on #414
Hi @datakurre ,

Release 2.7.1 has been published some minutes ago. Please confirm that it fixes your issue.

[2022-06-20 19:56] #410 closed

[2022-06-20 20:04] tobiasschaefer commented on #410
Hi @datakurre ,

I've released 2.7.2 minutes ago to Maven Central.

Please check and report back if it fixes your issue. Thanks :-)

[2022-06-22 19:30] tobiasschaefer opened #419 "Update to Micronaut 3.5.x"
The update to Micronaut 3.5.x is blocked by failing tests, see #413

It's currently unclear if this is a regression in the implementation or in the tests.

[2022-06-24 08:51] datakurre commented on #410
Unfortunately, not completely.

I'm unable to test with postgres right now (I don't want to install Docker on my Steam Deck), but this is the error, I get with H2 on a project. I'll provide updated minimal examples next week.

[code]

[2022-06-24 08:52] datakurre commented on #410
Of course, it is possible that some of my customizations break that on my project. Need to check what you did.

[2022-06-24 09:26] datakurre commented on #414
@tobiasschaefer Can confirm the fix. Thank you!

[2022-06-24 10:52] tobiasschaefer commented on #410
@datakurre : thanks for the infos

"UnknownHostException: steamdeck: steamdeck: Name or service not known" is strange but maybe not the root cause.

I also see
"IllegalArgumentException: Mapped Statements collection does not contain value for insertHistoricJobLogEvent"

It seems you have some configuration which leads to a database insert to the historic jobs during startup. Can you please find ou

[2022-06-24 18:43] datakurre commented on #410
Updated

[demo.tar.gz](https://github.com/camunda-community-hub/micronaut-camunda-platform-7/files/8979885/demo.tar.gz)

This time with volatile H2 configuration and no need for docker.

In addition to H2, I only updated micronaut-camunda version, and added `history: full` :flushed:

[code]

[2022-06-24 18:53] datakurre commented on #410
I'll create a new issue.

[2022-06-24 18:56] datakurre opened #420 "Enabling history cleanup with history: fuill on empty db fails Camunda startup"
Continuation from https://github.com/camunda-community-hub/micronaut-camunda-platform-7/issues/410

With

[demo.tar.gz](https://github.com/camunda-community-hub/micronaut-camunda-platform-7/files/8980006/demo.tar.gz)

the interesting configuration being

[code]

[code]

[2022-07-10 08:16] #420 closed

[2022-07-10 08:23] tobiasschaefer commented on #420
Hi @datakurre ,

Release 2.8.1 should fix your issue and will be available on Maven Central within about 15 minutes.

Please report back shortly if your issue is resolved. Thanks.

[2022-07-14 05:39] lwluc commented on #411
Hey @datakurre, @tobiasschaefer,

I took a quick look and I think [these lines](https://github.com/camunda-community-hub/micronaut-camunda-platform-7/blob/master/micronaut-camunda-bpm-feature/src/main/java/info/novatec/micronaut/camunda/bpm/feature/webapp/JettyServerCustomizerRuntimeWebapp.java#L145-L147) maybe need to be changed.
I was not able to test it yet, what do you think @tobiasschaefer?

[2022-07-15 06:32] tobiasschaefer commented on #419
Fixed with commit https://github.com/camunda-community-hub/micronaut-camunda-platform-7/commit/eb512522aa6fa6736e3e526b314fd85f06d38af2

[2022-07-15 06:32] #419 closed

[2022-09-14 03:30] KingDracula opened #429 "how to delete one task of parallel multi-instance tasks"
i want to delete task of parallel multi-instance task

and i was try use these code to realize it
![image](https://user-images.githubusercontent.com/13584613/190052966-6d67fccb-5622-4e10-a443-72957b065080.png)

 the task was delete successful  but when i was completed the other task in this multi-instance , the process instance does not continue to run.
![image](https://user-images.githubuserconte

[2022-09-14 12:39] tobiasschaefer commented on #429
Hi @KingDracula ,

If I understand you correctly you want to delete (i.e. cancel) a user task because it is no longer relevant in the current process and expect to process instance to continue running.

The API you're using is not correct because you actually shouldn't delete the task but cancel its execution. The history will then also show this as having been cancelled.

You can cancel a user ta

[2022-09-17 19:03] tobiasschaefer commented on #429
Hi @KingDracula ,

I'm closing this issue since your issue should be resolved. If not, feel free to re-open it (but note: this has nothing to do with the Micronaut Integration but is general Camunda Platform 7 question).

[2022-09-17 19:03] #429 closed

[2022-10-01 12:30] datakurre opened #433 "Regression on fetchAndLock long poll (asyncResponseTimeout has no effect)"
At some point, `asyncResponseTimeout` has stopped having effect. It was previously fixed for https://github.com/camunda-community-hub/micronaut-camunda-platform-7/issues/353

Now, with micronaut 3.6.1 and micronaut-camunda-bpm-feature 2.9.0, it is no longer possible to long poll external tasks:

[code]
[demo.zip](https://github.com/camunda-community-hub/micronaut-camunda-platform-7/files/9690303/d

[2022-10-01 12:40] datakurre commented on #433
Closed as invalid.

I had already forgotten that this feature had issues when run with maven with mn:run.

[2022-10-01 12:40] #433 closed

[2022-10-02 05:10] tobiasschaefer commented on #433
Hi @datakurre ,

thanks for reporting and closing this issue.

It shows that you're still using the integration project 😀

[2022-10-02 16:20] datakurre commented on #433
Thanks for maintaining!

That said, I might re-open this in the future, once I have more time to investigate.

The behavior that I'm seeing (on 2.8.1) and right now: It does keep worker waiting for asyncResponseTimeout, but also returns the locked tasks only after asyncResponseTimeout, when it should return them as soon as they have been released. :sweat_smile:

I need to confirm this with a minim

[2022-10-25 19:31] datakurre opened #438 "Regression on fetchAndLock long poll (asyncResponseTimeout waits until timeout)"
The last version where asyncResponseTimeout for REST API external task long poll works properly is 2.7.2

Minimal working demo: [demo-2.7.2.zip](https://github.com/camunda-community-hub/micronaut-camunda-platform-7/files/9863361/demo-2.7.2.zip)

Here I start a long poll and then start a new instance of a process and get response immediately after starting the instance, which is much less than 10 s

[2022-10-25 19:32] datakurre commented on #438
This time I remembered to build and run demo projects from JAR files (because asyncResponseTimeout does not work on Maven project otherwise, as discussed in the original asyncResponseTimeout issue long time ago).

[2022-10-25 19:45] datakurre opened #439 "Make authentication provider a configuration option"
I wanted to customize authentication to support custom JWT authentication, and had to make a volt for something that could be a configurable string.

Authentication provider is configured at https://github.com/camunda-community-hub/micronaut-camunda-platform-7/blob/94e1b4085fbee783af91c1aa8931f8e43189fe3c/micronaut-camunda-bpm-feature/src/main/java/info/novatec/micronaut/camunda/bpm/feature/rest/J

[2022-10-25 19:58] tobiasschaefer commented on #439
Hi @datakurre ,

That sounds like a sensible feature request.

Do you want to try to create pull request? To me that would have simpler than your replace logic 😀

Todo
- add configuration option beneath `camunda.webapps` with default to existing behavior
- update implementation to use configured value
- update README.md with configuration option

[2022-10-25 20:02] tobiasschaefer commented on #438
Hi @datakurre ,
Just to be sure: release 2.8.0 fails for you too, right?

[2022-10-25 20:02] datakurre commented on #438
@tobiasschaefer Yes. I started from 2.10.0 and tried all versions down to 2.7.2, which worked.

[2022-10-25 20:12] tobiasschaefer commented on #438
The broken version 2.8.0 basically only contains one commit which zu updates Micronaut from 3.4.4 to 3.5.2: https://github.com/camunda-community-hub/micronaut-camunda-platform-7/commit/eb512522aa6fa6736e3e526b314fd85f06d38af2

I'll take a closer look.

[2022-10-25 20:47] datakurre commented on #439
@tobiasschaefer Thanks for those pointers! I’ll see later if I can do this 💪 Probably would have been faster to do the option in the first place 😅

[2022-10-26 04:23] datakurre commented on #438
I double checked that the issue existed already on 2.8.0. It does.

[2022-11-05 07:30] #439 closed

[2022-11-05 07:45] tobiasschaefer commented on #439
Hey @datakurre ,

please try release 2.11.0 which has the option to configure the authentication-provider.

see configuration option `camunda.rest.authentication-provider`

[2022-11-05 09:13] datakurre commented on #439
@tobiasschaefer Wow! Thanks. So good I used my time to debug long poll issue instead. Will update that issue with more details soon...

[2022-11-05 10:31] datakurre commented on #438
@tobiasschaefer I spent some time with debugger and found the following difference between 2.7.2 and 2.8.0

When a process enters external service task, the following transaction listener is fired in 2.7.2 but no longer in 2.8.0 (the method is called to register the listener, but it never fires), and therefore long poll request does not get the signal about new task and waits until the timeout:

h

[2022-11-05 11:00] tobiasschaefer commented on #439
Thanks. That's team work 😀

[2022-11-05 11:03] tobiasschaefer commented on #438
Thanks for that detailed analysis. It must be related to Micronaut's transaction handling which changed in 2.8.0.

I'll have a look.

[2022-11-11 08:16] #438 closed

[2022-11-11 08:29] datakurre commented on #438
🤩

[2022-11-11 08:33] datakurre commented on #438
Thanks to this, I know now much better, how Camunda long polling works. I was not aware that only new tasks are immediately delivered, because of that event being triggered. Tasks with silently expiring lock, are only delivered after asyncResponseTimeout (or with tasks that fired that event). Therefore, optimal asyncResponseTimeout might be surprisingly short. A compromise between not polling all

[2022-11-11 08:36] tobiasschaefer commented on #438
Hey @datakurre ,

can you please test release v2.11.1. It fixes the issue for me.

Note to myself:
* Create log poll after new start of application: `time curl -X POST http://localhost:8080/engine-rest/external-task/fetchAndLock -H "Content-Type: application/json" -d'{"maxTasks": 1, "workerId": "aWorkerId", "asyncResponseTimeout": 10000, "topics": [{"topicName": "Example", "lockDuration": 10000}]}

[2022-11-11 13:28] #371 closed

[2022-11-11 21:53] datakurre commented on #438
@tobiasschaefer I can confirm the fix. Thanks again!

[2022-11-11 22:38] datakurre commented on #439
Confirm that this works. Although, one must both enable basic auth and define custom provider, but it is probably safer that way.

[2022-11-13 06:54] tobiasschaefer commented on #439
Hi @datakurre ,

good point!

IMHO if someone (you 😀) configures a custom authentication provider he should know what he is doing. I don't see a reason why basic auth should be required since it would be used anyway. Correct?

Does this PR look good to you? https://github.com/camunda-community-hub/micronaut-camunda-platform-7/pull/448